//body  


$body-color:#19b5a5;



// h1 


.tit1 {
	
	text-align:center;
	height:200px;
	display:flex;
	justify-content:center;
	background:orange;
	align-items:center;
	 font-family: "Outfit", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size:5rem;

}


//container

.container{

	display:flex;
	justify-content:space-around;
	
	
	&{
		
		.div{
			
			height:400px;
			width:600px;
			background:red;
		
		}
		
		.tit{
		
		    background: green;
    color: white;
    text-align: center;
			
		}
	
	
	label{
		
		color:white;
	
	}
	
	}

}
